In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
import datetime
import math

In [2]:
##Reading in file
census = pd.read_csv('../Mongoose Modeling/Updated Census.csv')

##Extracting Relevant Columns
census = census.rename(columns = {'Latitude ':'Latitude'})
#census = pd.DataFrame(census, columns = ['Date','Troop','Latitude','Longitude','Troop Number','Complete Count?'])
census = census.dropna(subset=['Date','Troop'])

##Fixing troop name inconsistencies
census['Troop'] = census['Troop'].replace(['Old Park Gate','Old Park gate'],'OPG')
census['Troop'] = census['Troop'].replace(['Watercart','WCEast','Watercut East','WCEST'],'WCE')
census['Troop'] = census['Troop'].replace(['Watercut West','WCWST','WCWst'],'WCW')
census['Troop'] = census['Troop'].replace(['safari lodge ','CSL ','Chobe Safari Lodge','Safari lodge','CLS','SCSL'],'CSL')
census['Troop'] = census['Troop'].replace(['Mowana car park','Mowana','mowana lodge'],'MOW')
census['Troop'] = census['Troop'].replace(['Serondella'],'SER')
census['Troop'] = census['Troop'].replace(['BBD/Serondella'],'BBD/SER')
census['Troop'] = census['Troop'].replace(['Kalweeze'],'KAL')
census['Troop'] = census['Troop'].replace(['Game Lodge','Chobe Game Lodge','CGK'],'CGL')
census['Troop'] = census['Troop'].replace(['Savas stores'],'SAV')
census['Troop'] = census['Troop'].replace(['Chobe Farm troop','UNK (Chobe Farms?)'],'FARM')
census['Troop'] = census['Troop'].replace(['marina','marina lodge','marina lodge ',],'CML')
census['Troop'] = census['Troop'].replace(['forestry','forestry ','FOR '],'FOR')
census['Troop'] = census['Troop'].replace(['Hippo Pools'],'HIPP')
census['Troop'] = census['Troop'].replace(['Water Affairs'],'WA')
census['Troop'] = census['Troop'].replace(['Kubu','Kubu lodge'],'KUBU')
census['Troop'] = census['Troop'].replace(['Dump'],'DUMP')
census['Troop'] = census['Troop'].replace(['Safari Lodge'],'CSL')
census['Troop'] = census['Troop'].replace(['Sefalana'],'SEF')
census['Troop'] = census['Troop'].replace(['Unk','unknown','Unknown','UNKOWNN'],'UNK')
census['Troop'] = census['Troop'].replace(['Kaz','Kazungula Industrial','Kazungula Border'],'KAZ')
census['Troop'] = census['Troop'].replace(['Sedudu Gate','Park Gate Sedudu','Gate Troop'],'SDGT')
census['Troop'] = census['Troop'].replace(['Thebe River lodge'],'THEBE')
census['Troop'] = census['Troop'].replace(['Chobe Chilwero'],'CCH')
census['Troop'] = census['Troop'].replace(['Lesoma'],'LES')
census['Troop'] = census['Troop'].replace(['Charlotte'],'CHAR')
census['Troop'] = census['Troop'].replace(['Sewage Ponds'],'SEW')
census['Troop'] = census['Troop'].replace(['Individual "Nubbins"','Nubbins'],'NUB')
census['Troop'] = census['Troop'].replace(['UNK (Plateau)','UNK PLAT','Plat'],'PLAT')
census['Troop'] = census['Troop'].replace(['Plateau/Wildlife'],'PLAT/WDL')
census['Troop'] = census['Troop'].replace(['Bridgetown'],'BRT')
census['Troop'] = census['Troop'].replace(['Kwalape','KwA'],'KWA')
census['Troop'] = census['Troop'].replace(['WILD'],'WDL')
census['Troop'] = census['Troop'].replace(['?PARK','PARKTROOP','UNK (park)','UNKpark'],'PARK')
census['Troop'] = census['Troop'].replace(['Tawana'],'TWA')
census['Troop'] = census['Troop'].replace(['WPLAT-WA'],'WPLAT/WA')
census['Troop'] = census['Troop'].replace(['Old House'],'ODH')
census['Troop'] = census['Troop'].replace(['hospital'],'HOS')
census['Troop'] = census['Troop'].replace(['CSL-CHAR'],'CSL/CHAR')

census = census[census.Troop != '0']
census = census[census.Troop != 'Hatab8']
census = census[census.Troop != 'Center/Wildlife?']
census = census[census.Troop != '?']

census.head()

,Unnamed: 0,Observation ID,Date,Time,Troop,Observers,Location,Latitude,Longitude,Rain Type,...,Mix,Troop Name,Split,Columna1,Columna2,Columna3,AM/PM,Time up,Not seen,Columna4
1,NaN,OPG130600,6/13/2000,NaN,OPG,NaN,NaN,-17.8258,25.1358,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,OPG290600,6/29/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,OPG070700,7/7/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,OPG100700,7/10/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,OPG130800,8/13/2000,NaN,OPG,NaN,NaN,-17.8253,25.1319,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
##Removing empty counts and fixing non-numeric entries

census['Troop Number'] = census['Troop Number'].replace(['22+1 ','14+9'],23)
census['Troop Number'] = census['Troop Number'].replace(['24+6','30+'],30)
census['Troop Number'] = census['Troop Number'].replace(['20+7'],27)
census['Troop Number'] = census['Troop Number'].replace(['22+15'],37)
census['Troop Number'] = census['Troop Number'].replace(['17+8'],25)
census['Troop Number'] = census['Troop Number'].replace(['36+4','28+12','39+1'],40)
census['Troop Number'] = census['Troop Number'].replace(['15+7'],22)
census['Troop Number'] = census['Troop Number'].replace(['23+13'],36)
census['Troop Number'] = census['Troop Number'].replace(['40+1'],41)
census['Troop Number'] = census['Troop Number'].replace(['30+5'],35)
census['Troop Number'] = census['Troop Number'].replace(['34+32'],66)
census['Troop Number'] = census['Troop Number'].replace(['51+6'],57)
census['Troop Number'] = census['Troop Number'].replace(['48+'],48)
census['Troop Number'] = census['Troop Number'].replace(['~10'],10)
census['Troop Number'] = census['Troop Number'].replace(['7+1'],8)
census['Troop Number'] = census['Troop Number'].replace(['29+'],29)
census['Troop Number'] = census['Troop Number'].replace(['13+5','12+6'],18)
census['Troop Number'] = census['Troop Number'].replace(['12+2'],14)
census['Troop Number'] = census['Troop Number'].replace(['12+7','7+12','14+5'],19)
census['Troop Number'] = census['Troop Number'].replace(['12+'],12)
census['Troop Number'] = census['Troop Number'].replace(['19+5'],24)
census['Troop Number'] = census['Troop Number'].replace(['13+3'],16)
census['Troop Number'] = census['Troop Number'].replace(['9+2','8+3'],11)
census['Troop Number'] = census['Troop Number'].replace(['8+13'],21)

census = census.dropna(subset=['Troop Number'])

census = census[census["Troop Number"] != 'No count']
census = census[census["Troop Number"] != '-']
census = census[census["Troop Number"] != 'not seen']
census = census[census["Troop Number"] != '?']
census = census[census["Troop Number"] != 'not seen ']
census = census[census["Troop Number"] != 'Unable to determine']
census = census[census["Troop Number"] != 'Unk']
census = census[census["Troop Number"] != 'Lots']

census['Troop Number'] = pd.to_numeric(census["Troop Number"])

In [4]:
print(census.shape)
census.columns

(1695, 45)

Index(['Unnamed: 0', 'Observation ID', 'Date', 'Time', 'Troop', 'Observers',
       'Location', 'Latitude', 'Longitude', 'Rain Type', 'Land Use',
       'Temperature', 'Cloud Cover', 'Wind', 'Wilderness', 'Den Type',
       'Park Habitat', 'Troop Number', 'Complete Count?', 'Group Spread',
       'Number juveniles/ Sub-Adults', '# Pups', '# Pregnant',
       'Pregnant third', 'Identifiable Individuals', 'Number sick',
       'Illness Rank', 'Description of Signs', 'Number injured',
       'Description of Injuries', 'Feces', '# Feces', 'Urine',
       'Anal Gland Secr.', 'Comments', 'Mix', 'Troop Name', 'Split',
       'Columna1', 'Columna2', 'Columna3', 'AM/PM', 'Time up', 'Not seen',
       'Columna4'],
      dtype='object')

In [5]:
def read_comm(i=0,ans=''):
    comm = census.copy()
    comm = comm.dropna(subset=['Comments'])
    comm = comm.reset_index()
    data = pd.DataFrame(columns = comm.columns)
    
    if i != 0:
        i = comm.loc[comm['index'] == i].index[0]

    while (ans == '') & (i < len(comm)):

        print('{place}: {comm}'.format(place = comm.loc[i,'index'],comm = comm.loc[i,'Comments']))
        ans = input('Continue? ')
        print('*********************')

        if (ans == 'END')|(ans == 'N')|(ans =='n'):
            ans = 'n'

        elif ans != '':
            print(comm.iloc[i])
            print('*********************')
            data = data.append(comm.iloc[i])            
            ans = ''

        i+=1
    return data

df = read_comm(1380)

1380: With Mogo
Continue?
*********************
1381: With Mowana
Continue? n
*********************

In [55]:
comm = census.copy()
comm = comm.dropna(subset=['Comments'])
comm = comm.reset_index()

i = 818
i = comm.loc[comm['index'] == i].index[0]
i

396

In [7]:
concern = [92,633,639,818,1380,1381,1539,1553,1781,1786,1839,1908,1924,1935,1999,2044,2049,2088,2112,2172,2206,2267]
df = pd.DataFrame(columns = census.columns)
for i in concern:
    df = df.append(census.loc[[i]])

,Unnamed: 0,Observation ID,Date,Time,Troop,Observers,Location,Latitude,Longitude,Rain Type,...,Mix,Troop Name,Split,Columna1,Columna2,Columna3,AM/PM,Time up,Not seen,Columna4
92,B,MOW270204,2/27/2004,8:00,MOW,NaN,NaN,-17.8452,25.15827,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
633,NaN,SEF240814,8/24/2014,NaN,SEF,CA,back garden of &Beyond,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,AM,NaN,NaN,NaN
639,NaN,CSL011014,10/1/2014,9:25,CSL,NaN,kasane enterprises,-17.80056,25.1504,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
818,NaN,SEF040915,9/4/2015,12:00,SEF,Stephanie and Nisha,Buildings next to Sefalana and behind Haskins,-17.784983,25.1756805,NaN,...,1,Sef/Thebe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1380,NaN,MOW260816,8/26/2016,15:21,MOW,Mike,NaN,17.78476,25.15823,No Rain,...,1,MOW/MOGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1381,NaN,MOGO260816,8/26/2016,15:21,MOGO,Mike,NaN,17.78476,25.15823,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1539,NaN,MOGO211216,12/21/2016,11:15,MOGO,Kabelo,Crossing from Kgapamadhi to Old House,17.792082,25.156881,No Rain,...,1,WA/MOGO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1553,NaN,MOGO301216,12/30/2016,10:45,MOGO,Kabelo,Spar parking lot area,17.795109,25.153211,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1781,NaN,WLD070617,6/7/2017,11:23,WDL,"LP, CM, KB",Backyard of house CHDC/KS/129,-17.81169,25.15503,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1786,NaN,SEF080617,6/8/2017,9:16,SEF,"LP, KB",Next to Sefalana Cash and carry,-17.78483,25.17426,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1839,NaN,LIB260617,6/26/2017,11:00,LIB,"LP, KV, AX",Behind Mandela Pub,-17.79782,25.15576,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1908,NaN,FOR180817,8/18/2017,9:20,FOR,"LP, OB",Next to police station,-17.80303,25.14964,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1924,NaN,PLAT300817,8/30/2017,9:10,PLAT,"LP, OB",Behind Marthas Kitchen,-17.79711,25.15538,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1935,NaN,CSL110917,9/11/2017,8:45,CSL,LP,"Departmen of Forestry, behind Chopies",-17.80379,25.14758,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,NaN,MOW091017,10/9/2017,14:00,MOW,LP,"In bush behind ""Eden"" (Mowana Lodge)",-17.78235,25.16238,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2044,NaN,PLAT211117,11/21/2017,11:55,PLAT,LP,Behind abandoned house in Plateau,-17.80294,25.15718,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2049,NaN,MOW231117,11/23/2017,8:08,MOW,LP,In bush front of elephant corridor - Seboba,-17.78376,25.16979,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2088,NaN,WA071217,12/7/2017,16:00,WA,LP,Two houses left from Chilotos Guest House,-17.79476,25.15857,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2112,NaN,ODH181217,12/18/2017,8:20,ODH,LP,Between Primary Hospital and houses,-17.801798,25.149711,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2172,NaN,SEF160118,1/16/2018,6:00,SEF,"LP, KV",Runing between houses,-17.798473,25.168744,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2206,NaN,SEF090218,2/9/2018,8:12,SEF,LP,House front of Noya ya Botsherlo,-17.79642,25.16682,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2267,NaN,PLAT/LIB260318,3/26/2018,12:05,PLAT/LIB,"LP, KR, DM",Next to Parlament Office,-17.802157,25.157245,No Rain,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
test = census.loc[census.Troop.str.contains(troop)]
test.Troop.unique()

array(['KUBU', 'KUBU/KWA'], dtype=object)